/****** PLACE YOUR CUSTOM STYLES HERE ******/
.timeline-event:first-child {
  margin-top: 64px;
}
.timeline-event {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 64px;
  margin-bottom: 32px;
}
.timeline-event:nth-child(even) .col-sm-6:first-child {
  text-align: right;
}
.timeline-event .col-sm-6:first-child {
  padding-right: 54px;
}
.timeline-event .col-sm-6:last-child {
  padding-left: 54px;
}
.timeline-event:nth-child(odd) .col-sm-6:first-child {
  padding-left: 54px;
  padding-right: 15px;
}
.timeline-event:nth-child(odd) .col-sm-6:last-child {
  padding-right: 54px;
  text-align: right;
  padding-left: 15px;
}
.timeline-event .middle {
  position: absolute;
  left: 50%;
  width: 60px;
  margin-left: -30px;
  text-align: center;
  height: 100%;
}
.timeline-event .middle i {
  font-size: 40px;
  display: inline-block;
  margin-bottom: 16px;
  color: #e74c3c;
}
.timeline-event .middle .vertical-line {
  top: 60px;
  width: 2px;
  height: 100%;
  display: inline-block;
  background: #e74c3c;
  position: absolute;
  left: 50%;
  margin-left: -2px;
}
.timeline-event h2 {
  margin-bottom: 8px;
}
@media all and (max-width: 767px) {
  .timeline-event {
    padding-bottom: 0;
  }
  .timeline-event .middle {
    display: none;
  }
  .timeline-event .col-sm-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: left !important;
  }
}

ul.menu > li > a:hover {
	background-color: #333;
	color: #FFFFFF;
	border-style: solid;
}
p {
	font-family: "Tinos", serif;
}
.btn-dumun {
	
  color: #fff;
}